
h2.l-text-component[data-v-607d9842], p.l-text-component[data-v-607d9842] {
  margin-bottom: 0;
}
button.l-text-component[data-v-607d9842] {
  padding: 5px 10px;
  cursor: pointer;
}
.l-text-component[data-v-607d9842] {
  box-sizing: border-box;
  white-space: pre-wrap;
  position: relative !important;
}

.l-image-component[data-v-93fa6322] {
  max-width: 100%;
  position: relative !important;
}
